.outgoingMessages {
    min-height: 310px;
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 20px;
}

.margin {
    margin-top: 20px;
}

.buttonRight {
    text-align: right;
}

.buttonLeft {
    text-align: left;
}