.messageLog {
    min-height: 310px;
    max-height: 500px;
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 20px;
    background-color: #f6f6f6;
    flex: 2;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.scroll {

    max-height: 420px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px;
    flex: 1;
}

.scrollDummy {
    float: left;
    clear: both;
}