.messageLog {
    height: 100%;
    min-height: 310px;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 20px;
    background-color: #f6f6f6;
}

.scroll {
    display: flex;
    flex-direction: column;
}

.scrollDummy {
    float: left;
    clear: both;
}