.main {
    padding: 40px;
    background-color: #f6f6f6;
    height: 87%;
}

.footer {
    margin-top: 20px;
}

.closeTabIcon {
    margin-left: 20px;
    margin-right: -7px;
    margin-bottom: -2px;
}