.messageSender {
    min-height: 310px;
    max-height: 500px;
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 20px;
    background-color: #f6f6f6;
    flex: 1;
}

.margin {
    margin-top: 20px;
}

.buttonRight {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.buttonLeft {
    text-align: left;
}